<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> XXX送水公司后台管理系统</title>

    <!--Bootstrap固定框架-->
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.css}">
    <!--图标库-->
    <link rel='stylesheet' th:href='@{/css/material-design-iconic-font.min.css}'>
    <!--核心样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div id="viewport">

    <!-- Sidebar -->
    <div id="sidebar" th:replace="waterMainMenu::menu">

    </div>

    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default" th:replace="waterMainMenu::nav">

        </nav>

        <div class="col-md-4">
            <a class="btn btn-primary" th:href="@{/cust/preSaveCust}">添加客户</a>
        </div>

        <div class="col-md-8">
            <form class="form-inline" th:action="@{/cust/searchCust}" method="get">
                <input type="text" class="form-control" th:value="${data}" th:name="custName" placeholder="请输入客户名称"/>
                <input type="submit" class="btn btn-primary" name="search" value="搜索"/>
            </form>
        </div>


        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <td>客户编号</td>
                            <td>客户名称</td>
                            <td>客户地址</td>
                            <td>联系方式</td>
                            <td>水票数量</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                            <!-- 渲染后客户列表-->
                            <tr th:each="cust : ${custList}">
                                <td th:text="${cust.cid}"></td>
                                <td th:text="${cust.custName}"></td>
                                <td th:text="${cust.custAddress}"></td>
                                <td th:text="${cust.custMobile}"></td>
                                <td th:text="${cust.custTicket}"></td>
                                <td>
                                    <a class="btn btn-primary btn-sm" th:href="@{'/cust/preUpdateCust/'+${cust.cid}}">修改</a>
                                    <a class="btn btn-primary btn-sm" th:href="@{'/cust/deleteCust/'+${cust.cid}}">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-12">
                    <div th:switch="${pageData}" class="modal-footer no-margin-top" >
                        <div class="col-md-6">
                            当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
                        </div>

                        <ul th:case="'listCustomer'" class="pagination pull-right no-margin">
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/custListPage?pageNum=1'">首页</a>
                            </li>

                            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/custListPage?pageNum='+${pageInfo.prePage}">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <!--遍历条数-->
                            <li th:each="nav:${pageInfo.navigatepageNums}">
                                <a th:href="'/cust/custListPage?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                            </li>

                            <li class="next" th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/cust/custListPage?pageNum='+${pageInfo.nextPage}">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </a>
                            </li>

                            <li>
                                <a th:href="'/cust/custListPage?pageNum='+${pageInfo.pages}">尾页</a>
                            </li>
                        </ul>

                        <ul th:case="'searchData'" class="pagination pull-right no-margin">
                            <li th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/searchCust?custName='+${data}+'&pageNum=1'">首页</a>
                            </li>

                            <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                                <a th:href="'/cust/searchCust?custName='+${data}+'&pageNum='+${pageInfo.prePage}">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <!--遍历条数-->
                            <li th:each="nav:${pageInfo.navigatepageNums}">
                                <a th:href="'/cust/searchCust?custName='+${data}+'&pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                                <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                            </li>

                            <li class="next" th:if="${pageInfo.hasNextPage}">
                                <a th:href="'/cust/searchCust?custName='+${data}+'&pageNum='+${pageInfo.nextPage}">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </a>
                            </li>

                            <li>
                                <a th:href="'/cust/searchCust?custName='+${data}+'&pageNum='+${pageInfo.pages}">尾页</a>
                            </li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>
    </div>

</div>

</body>
</html>